body{
	font-family: 'Verdana';
	font-size: 10px;
}

h1{font-size: 30px;}
h2{font-size: 20px;}
h3{font-size: 14px;}
p, h1, h2, h3{margin: 0px;}

#console p{
	font-size: 9px;
	margin: 0px;
	font-family: verdana;
}

#cliinput, #console{
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 30px;
        width: 100%;
        background: #999;
        z-index: 2;
        background-color: rgba(0, 0, 0, .5);
	padding: 2px;
	padding-left: 10px;
}

#console{
	background: #111111;
	border: 1px solid #000000;	
	bottom: 34px;
	height: 100px;
	overflow-y: scroll;
	color: #ffffff;
}

#cliinput input{
	border: 1px solid #000000;
	background-color: #999;
	color: #0000ff;
	margin: 0px;
	padding: 5px;
}

#cliinput #inputtext{
	width: 80%;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#tabvolumeinfo .volumen{
	float: left;
	padding: 2px;
	margin: 10px;
	border: 1px solid #000000;
}

#tabvolumeinfo .volumen .volmenu{
	cursor: pointer;
	border: 4px outset;
	padding: 2px;
}
#tabvolumeinfo .volumen .volmenu .volmenuopts{
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 10px;
}

#tabvolumeinfo .volumen .volmenu .volmenuopts li a:link{
	padding: 4px;
	display: block;
}

#tabvolumeinfo .volumen  .volmenu .volmenuopts li a:hover{
	background-color: #999999;
	color: #0000ff;
}

.viewtab{
	position: absolute;
	top: 40px;
	left: 0px;
	width: 100%;
	height: auto;
	padding-bottom: 200px;
	background-color: #ffffff;
	border-top: 1px solid #000000;
}

.tabitem{
	float: left;
	padding: 10px;
	border: 1px solid #000000;
	margin: 5px;
}

.selectedtab .tabitem{
	font-weight: bold;
	padding: 14px;
	margin: 0px;
}

#view #tabvolumelist #volumelist .volumelistelement{
	border: 1px solid #000000;
	width: 49px;
	height: 59px;
	margin: 15px;
	float: left;
}

/*#view #tabvolumelist #volumelist .volumelistelement a{
	display: block;
	height: 59px;
}*/

#view #tabvolumelist #volumelist .volumelistelement a:hover{
	background-color: #0f6;
}

#tabvolumelist #volumelist .volumelistelement .volumelistmenu{
	cursor: pointer;
	margin-top: 10px;
	background-color: #ffffff;
	border: 1px solid #000000;
}
#tabvolumelist #volumelist .volumelistelement .volumelistmenu .volumelistmenugroup{
	position: absolute;
	display: none;
	background-color: #ffffff;
	border: 1px solid #000000;
	padding: 10px;
}
